.locate{
    background-image: url(.././img/bg-location.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 93rem;

    &__title{
        padding-bottom: 4.375rem;
    }
}